<html>
    <head>
        <style>
            include index.css
        </style>
    </head>
    <body>
        for page in pages
            <div class="page">
                <h1>#{page.name}</h1>
                for section in page.sections
                    <h2>#{section.name}</h2>
                <img width="25%" src="https://static.wikia.nocookie.net/dqw4w9wgxcq/images/0/08/Site-background-dark/revision/latest/scale-to-width-down/1400?cb=20220428173233"></img>
            </div>
    </body>
</html>
